<!DOCTYPE html>
<html lan="en" ng-app="VocBuild">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.module.js"></script>
        <script src="js/controller/quiz.js"></script>
        <script src="js/controller/navbar.js"></script>
        <script src="js/controller/home.js"></script>
        <style>
          body {
            background-image: url('/images/scrabble.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
        </style>
    </head>
    <body>
        
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" ng-controller="navctrl as nav">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/icon.png" style="width:35px;height:35px;position: relative;top:-8px;"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click="nav.redirect('home')">
              <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-list"></span> Explore
              <span class="caret"></span></a>
              <ul class="dropdown-menu" style="background-color: white;">
                <li style="height: 35px;"><a href="#" ng-click="nav.redirect('learn')" > <span class="glyphicon glyphicon-education"></span> Learn</a></li>
                <li style="height: 35px;"><a href="#" ng-click="nav.redirect('quiz')"><span class="glyphicon glyphicon-hourglass"></span> Quiz</a></li>
                <li><a href="#" ng-click="nav.redirect('Leaderboard')"><span class="glyphicon glyphicon-stats"></span> Leaderboard</a></li>
              </ul>
            </li>
            <li><a href="#" ng-show="nav.login==true" ng-click="nav.redirect('login')">
              <span class="glyphicon glyphicon-user"></span> My Account</a></li>
            <li><a href="#" ng-show="nav.login==false" ng-click="nav.redirect('login')">
              <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#" ng-click="nav.redirect('register')">
              <span class="glyphicon glyphicon-pencil"></span> Register</a></li>
            <li><a href="#" ng-click="nav.redirect('contact')">
              <span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
            <!-- <li style="margin:0px 440px;background-color: red;"><a href="#" ng-click="nav.redirect('login')">Log Out</a></li> -->
            <input type="text" placeholder="Search.." name="search" 
            style="width:250px;position:absolute;top:10px;height:30px;margin:0px 80px;border-radius: 7px;border:#cccccc ">
            <button type="submit" 
            style="position:absolute;top:10px;margin:0px 300px;height:30px;width:30px ;background-color:   #cccccc;border:#cccccc;border-radius: 5px;">
            <span class="glyphicon glyphicon-search"></span></button>
            <button
            ng-show="nav.login==true"
            style="position:absolute;  top:10px;right:0px;margin:0px 440px 0px ;border:#8B0000;background-color: #FF7F50;width: 80px;height:30px" 
            ng-click="nav.logout()"><span class="glyphicon glyphicon-off"></span>  Logout</button>
          </ul>
        </div>
      </nav>

          <!-- <div class="container">
            <div class="page-header">
                <h1>English Quiz</h1>
                <h3>
                    Quiz which will help you build your vocabulary 
                </h3>
            </div>
          </div> -->

          <div class="home" ng-controller="homectrl as $home">
            <div class="panel panel-default">
              <!-- <h4 align="center">Welcome to Vocabulary Builder!</h4> -->
              <!-- <div class="container" style="width:1000px ;"> -->
                <!-- <div class="page-header"> -->
                    <!-- <h2 align="center">Welcome to Vocabulary Builder!</h2> -->
                    <!-- <h3 align="center"> -->
                        <!-- The best place to improve your language skills. -->
                    <!-- </h3> -->
                <!-- </div>/ -->
              <br><br>

              <div class="row">
                  <div class="col col-xs-6">
                      <div class="well well-sm" style="width:300px;height:300px; margin:0px 80px;">
                        <img src="/images/call.png" style="width: 100px;height: 100px;margin:0px 90px 0px;position: absolute;top:0px;">
                        <br><br><br><br>
                        <h3 align="center">Call Us</h3>
                        <br>
                        <h5><span class="glyphicon glyphicon-earphone"></span> +91-987654321</h5>
                        <h5><span class="glyphicon glyphicon-phone-alt"></span>  080-12345678</h5>
                      </div>
                      <br>
                  </div>

                  <div class="col col-xs-6">
                    <div class="well well-sm" style="width:300px;height:300px; margin:0px 50px;">
                      <img src="/images/mail.png" style="width: 100px;height: 100px;margin:0px 90px 0px;position: absolute;top:0px;">
                      <br><br><br><br>
                      <h3 align="center">Mail Us</h3>
                      <br>
                      <h5><i class="glyphicon glyphicon-envelope"></i> 12345@example.com</h5>
                      <h5><i class="glyphicon glyphicon-envelope"></i> example@12345.com</h5>
                    </div>
                    <br>
                </div>
              </div>


            </div>
          </div>
          
    </body>
</html>