<!DOCTYPE html>
<html lan="en" ng-app="VocBuild">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="js/app.module.js"></script>
        <script src="js/controller/login.js"></script>
        <script src="js/controller/navbar.js"></script>
        <!--CSS for login-->
        <style type="text/css">
          .login-form {
                width: 340px;
                margin: 50px auto;
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .login-form h2 {
                margin: 0 0 15px;
            }
            .form-control, .btn {
                min-height: 38px;
                border-radius: 2px;
            }
            .btn {        
                font-size: 15px;
                font-weight: bold;
            }
            body {
                background-image: url('/images/scrabble.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>

      </head>
    <body>
        <!--Navigation Bar on the top  -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid" ng-controller="navctrl as nav">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="/images/icon.png" style="width:35px;height:35px;position: relative;top:-8px;"></a>
            </div>
            <ul class="nav navbar-nav">
              <li ><a href="#" ng-click="nav.redirect('home')">
                <span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-list"></span> Explore
                <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: white;">
                  <li style="height: 35px;"><a href="#" ng-click="nav.redirect('learn')" > <span class="glyphicon glyphicon-education"></span> Learn</a></li>
                  <li style="height: 35px;"><a href="#" ng-click="nav.redirect('quiz')"><span class="glyphicon glyphicon-hourglass"></span> Quiz</a></li>
                  <li><a href="#" ng-click="nav.redirect('Leaderboard')"><span class="glyphicon glyphicon-stats"></span> Leaderboard</a></li>
                </ul>
              </li>
              <li class="active"><a href="#" ng-show="nav.login==true" ng-click="nav.redirect('login')">
                <span class="glyphicon glyphicon-user"></span> My Account</a></li>
              <li class="active"><a href="#" ng-show="nav.login==false" ng-click="nav.redirect('login')">
                <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="#" ng-click="nav.redirect('register')">
                <span class="glyphicon glyphicon-pencil"></span> Register</a></li>
              <li><a href="#" ng-click="nav.redirect('contact')">
                <span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
              <!-- <li style="margin:0px 440px;background-color: red;"><a href="#" ng-click="nav.redirect('login')">Log Out</a></li> -->
              <input type="text" placeholder="Search.." name="search" ng-model="nav.search" 
              style="width:250px;position:absolute;top:10px;height:30px;margin:0px 80px;border-radius: 7px;border:#cccccc ">
              <button type="submit" 
              ng-click="nav.sr()"
              style="position:absolute;top:10px;margin:0px 300px;height:30px;width:30px ;background-color:   #cccccc;border:#cccccc;border-radius: 5px;">
              <span class="glyphicon glyphicon-search"></span></button>
              <button
              ng-show="nav.login==true"
              style="position:fixed;  top:10px;right:150px; ;border:#8B0000;background-color: #FF7F50;width: 80px;height:30px" 
              ng-click="nav.logout()"><span class="glyphicon glyphicon-off"></span>  Logout</button>
            </ul>
          </div>
        </nav>

        
      <br><br><br><br>
      <div ng-controller="loginctrl as $login">
          <div class="login-form"  ng-hide="$login.login">
            <!-- <form action="/examples/actions/confirmation.php" method="post"> -->
                <h2 class="text-center">Log in</h2>       
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="$login.usr.username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="$login.usr.passwd" placeholder="Password" required="required">
                </div>
                <div class="form-group" >
                    <button  class="btn btn-primary btn-block" ng-click="$login.submitlogin()">Log in</button>
                </div>
                        
            <!-- </form> -->
            <p class="text-center" ng-if="$login.status==1">Login Failed. Invalid Username</p>
            <p class="text-center" ng-if="$login.status=='2'">Login Failed. Invalid Password</p>
            <br/><br/>
            <p class="text-center">Don't Have an Account?<a href="#" ng-controller="navctrl as nav" ng-click="nav.redirect('register')">Sign Up</a></p>
        </div>

        <!-- Account Info -->
        <div class="login-form"  ng-show="$login.login">
          <!-- <form action="/examples/actions/confirmation.php" method="post"> -->
              <h2 class="text-center">Account Info</h2>
              <img src="/images/user.png" style="width: 100px;height: 100px; margin: 0px 85px;">
              <br>
              <h4>Username: {{$login.details.uname}}</h4>
              <h4>Name: {{$login.details.name}}</h4>
              <h4>Email: {{$login.details.email}}</h4>
              <h4>Score: {{$login.details.score}}</h4>       
              <!-- <div class="form-group" > -->
                <!-- <button  class="btn btn-primary btn-block" ng-click="$login.logout()">Log Out</button> -->
              <!-- </div>     -->
        </div>
      </div>
       

</html>