<!DOCTYPE html>
<html lan="en" ng-app="VocBuild">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.module.js"></script>
        <script src="js/controller/quiz.js"></script>
        <script src="js/controller/navbar.js"></script>
        <script src="js/controller/search.js"></script>
        <style>
          body {
            background-image: url('/images/scrabble.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
        </style>
    </head>
    <body>
        
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" ng-controller="navctrl as nav">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/icon.png" style="width:35px;height:35px;position: relative;top:-8px;"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click="nav.redirect('home')">
              <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-list"></span> Explore
              <span class="caret"></span></a>
              <ul class="dropdown-menu" style="background-color: white;">
                <li style="height: 35px;"><a href="#" ng-click="nav.redirect('learn')" > <span class="glyphicon glyphicon-education"></span> Learn</a></li>
                <li style="height: 35px;"><a href="#" ng-click="nav.redirect('quiz')"><span class="glyphicon glyphicon-hourglass"></span> Quiz</a></li>
                <li><a href="#" ng-click="nav.redirect('Leaderboard')"><span class="glyphicon glyphicon-stats"></span> Leaderboard</a></li>
              </ul>
            </li>
            <li><a href="#" ng-show="nav.login==true" ng-click="nav.redirect('login')">
              <span class="glyphicon glyphicon-user"></span> My Account</a></li>
            <li><a href="#" ng-show="nav.login==false" ng-click="nav.redirect('login')">
              <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#" ng-click="nav.redirect('register')">
              <span class="glyphicon glyphicon-pencil"></span> Register</a></li>
            <li><a href="#" ng-click="nav.redirect('contact')">
              <span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
            <!-- <li style="margin:0px 440px;background-color: red;"><a href="#" ng-click="nav.redirect('login')">Log Out</a></li> -->
            <input type="text" placeholder="Search.." name="search" ng-model="nav.search" 
            style="width:250px;position:absolute;top:10px;height:30px;margin:0px 80px;border-radius: 7px;border:#cccccc ">
            <button type="submit" 
            ng-click="nav.sr()"
            style="position:absolute;top:10px;margin:0px 300px;height:30px;width:30px ;background-color:   #cccccc;border:#cccccc;border-radius: 5px;">
            <span class="glyphicon glyphicon-search"></span></button>
            <button
            ng-show="nav.login==true"
            style="position:fixed;  top:10px;right:150px; ;border:#8B0000;background-color: #FF7F50;width: 80px;height:30px" 
            ng-click="nav.logout()"><span class="glyphicon glyphicon-off"></span>  Logout</button>
          </ul>
        </div>
      </nav>

          <!-- <div class="container">
            <div class="page-header">
                <h1>English Quiz</h1>
                <h3>
                    Quiz which will help you build your vocabulary 
                </h3>
            </div>
          </div> -->

            <div class="home" ng-controller="sctrl as s" >
                <div class="panel panel-default">
                    <h2 align="center">Search Results</h2>
                        <!-- <div class="container" style="width:1000px ;"> -->
                <!-- <div class="page-header"> -->
                    <!-- <h2 align="center">Welcome to Vocabulary Builder!</h2> -->
                    <!-- <h3 align="center"> -->
                        <!-- The best place to improve your language skills. -->
                    <!-- </h3> -->
                <!-- </div> -->
                    <br><br>

                <div class="row">
                    <div class="col col-xs-12">
                        <div class="well well-sm" style="width:950px;height:50px; margin:0px 20px;">
                        <!-- <h4><b> &emsp;Rank <span style="display: inline-block; margin-left:345px; "></span>  Username <span style="display: inline-block; margin-left:270px; "></span> Score</b></h4> -->
                        <div class="row">
                            <div class="col col-xs-4">
                                <h4 align="center"><b>Word</b></h4>
                            </div>
                            <div class="col col-xs-8">
                                <h4 align="center"><b>Meaning</b></h4>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="well well-sm" style="width:950px; margin:0px 50px;background-color: white;">
                        <!-- <h5><b> &emsp;&emsp;1. <span style="display: inline-block; margin-left:380px; "></span> -->
                            <!-- Dheeraj <span style="display: inline-block; margin-left:305px; "></span> 2000</b></h5> -->
                        <div class="row">
                            <div class="col col-xs-4">
                                <h5 align="center"><b>Anxious</b></h5>
                            </div>
                            <div class="col col-xs-8">
                                <h5><b>To be ahgijwv igw eviqui qie vuib wrveqi qigebi </b></h5>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          
    </body>
</html>